<p id="notice"><%= notice %></p>

<p>
  <b>Genreid:</b>
  <%= @genre.GenreId %>
</p>

<p>
  <b>Name:</b>
  <%= @genre.Name %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
