<h1>Listing customers</h1>

<table>
  <tr>
    <th>Customerid</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Company</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Postalcode</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Supportrepid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.CustomerId %></td>
    <td><%= customer.FirstName %></td>
    <td><%= customer.LastName %></td>
    <td><%= customer.Company %></td>
    <td><%= customer.Address %></td>
    <td><%= customer.City %></td>
    <td><%= customer.State %></td>
    <td><%= customer.Country %></td>
    <td><%= customer.PostalCode %></td>
    <td><%= customer.Phone %></td>
    <td><%= customer.Fax %></td>
    <td><%= customer.Email %></td>
    <td><%= customer.SupportRepId %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
