<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.Title %>
</p>

<p>
  <b>Artistid:</b>
  <%= @album.ArtistId %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
